/* 
 Stylesheet for xkpasswd.net
*/

/*
 The basic page layout - get it all centred and coloured correctly
*/
body {
    background-color: white;
    color: #333333;
    font-size: 10pt;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0px;
    padding: 0px;
}

#pageContent {
    margin: 0px 0px 0px 150px;
    padding: 10px;
    position: relative;
}

#pageHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
}

#inspiredLinksContainer{
    text-align: right;
    color: #6E7B91;
    font-size: 9pt;
    margin-right: 10px;
}
#inspiredLinksContainer a, #inspiredLinksContainer a:link, #inspiredLinksContainer a:visited{
    color: #6E7B91;
}

h2{
    color: #6E7B91;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: normal;
}

ul{
    list-style-image: url(li.png);
}

/*
 Style the forms
*/
fieldset{
    background: #fcfcfc;
    border: 1px solid black;
    margin: 25px;
}

fieldset fieldset{
    border: 1px dashed #6E7B91;
    margin: 10px;
}

fieldset legend{
    text-transform: uppercase;
    font-size: 14pt;
    border: 1px solid black;
    padding: 5px;
    font-weight: normal;
    background: #6E7B91;
    color: white;
}
fieldset fieldset legend{
    font-size: 12pt;
    border-width: 0px;
    font-weight: normal;
    color: #6E7B91;
    background: #fcfcfc;
}

fieldset h3{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #6E7B91;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: normal;
}

div#password_form_container{
    position: relative;
}
div#form_overlay{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 100;
}

div.section_container{
    margin-bottom: 5px;
}
div.section_header{
    background-color: #999999;
    color: white;
    padding: 5px;
    cursor: pointer;
    position: relative;
    padding-right: 22px;
}
div.section_header img.section_validation_icon {
    position: absolute;
    top: 3px;
    right: 3px;
}
div.section_header img.expand_icon, span.validation_error img.validation_error_icon{
    vertical-align: middle;
    margin-right: 3px;
}
div.section_header span.section_title{
    text-transform: uppercase;
    /* font-weight: bold; */
}
span.section_summary{
    font-style: italic;
}
span.section_summary code{
    background-color: white;
    color: #6E7B91;
    padding: 0px;
    margin: 1px;
    font-size: 7pt;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: normal;
    border-radius: 1px;
    border: 1px solid #6E7B91;
}
div.section_body{
    display: none;
    background-color: white;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 3px;
}
input:invalid, .error{
    color: red;
}
span.validation_error{
    display: none;
    color: red;
    font-style: italic;
}
span.losenge, span.section_summary code{
    background-color: white;
    padding: 3px;
    margin-left: 1px;
    margin-right: 1px;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: normal;
    border-radius: 3px;
}
span.structure_element{
    border: 1px solid blue;
    color: blue;
    text-transform: uppercase;
}
span.losenge.y, span.losenge.good{
    border: 1px solid #009900;
    color: #009900;
}
span.losenge.n, span.losenge.poor{
    border: 1px solid #990000;
    color: #990000;
}
span.losenge.m, span.losenge.ok{
    border: 1px solid orange;
    color: orange;
}
textarea, input[type="text"], input[type="number"]  {
    font-family: "Lucida Console", Monaco, monospace;
}
input[type="text"], input[type="number"]{
    text-align: center;
}
span.tbset input[type="text"]{
    margin-left: 1px;
    margin-right: 0px;
}
input.submit_btn{
    font-weight: bold;
}

img.info_icon, img.add_button{
    vertical-align: middle;
    margin-left: 3px;
    cursor: pointer;
}
.summary_extra_info{
    display: none;
}

.aside{
    font-style: italic;
    color: #909090;
}
span.spacer{
    padding-left: 5px;
    padding-right: 5px;
    color: #6E7B91;
}

p#preset_buttons_container, p#preset_load_error_container{
    text-align: center;
}

p#generate_password_error_container, p#password_stats_container, p#load_save_error_container, p#preset_load_error_container{
    display: none;
}
p#generate_password_error_container img.error_icon, p#load_save_error_container img.error_icon, fieldset#presets_interface img.error_icon{
    vertical-align: middle;
    margin-right: 3px;
}

/* closable divs */
div.closeable{
    position: relative;
}
div.closeable img.close_button{
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
}

/* The browser error or warning box */
#browser_error, #browser_warning{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-left: 36px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-repeat: no-repeat;
}
#browser_error{
    color: #990000;
    border: 1px dashed #990000;
    background-color: #FFE6E6;
    background-image: url('contrib/famfamfam_silk_icons_v013/icons/exclamation.png');
    background-position: 10px center;
}
#browser_warning{
    color: #6E7B91;
    border: 1px dashed #6E7B91;
    background-color: #FFFFF8;
    background-image: url('contrib/famfamfam_silk_icons_v013/icons/error.png');
    background-position: 10px center;
}

/* The Donate Box */
#donate_container{
    height: 30px;
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    position: relative;
    border: 1px solid black;
    background-color: #F8FFF8;
    border-radius: 15px;
}
#donation_button{
    position: absolute;
    top: 12px;
    right: 10px;
}